.container{
    height: 50rem;
    width: 90rem auto;

    display: flex;
    margin: 5rem auto;
    overflow: hidden;
}

.bigImg{
    width: 35%;
    padding: 10px;
    
}
#mainImg{
    width: 100%;
}
.Allimg{
    width: 80px;
    
    padding: 2px;
}
.Allimg:hover{
    background-color: rgba(18, 223, 223);
    border-radius: .5rem;
}

.price{
    color: rgba(18, 223, 223);
}
.content{
    width: 50%;
    
    
}
.Paragraph{
    font-size: 20px;
    color: gray;
}

